---
layout: base
stylesheet: splash
---
<section class="accordion to-carousel">
	<details open>
		<summary>Design</summary>
		<img src="/images/carousel/design.jpg" />
		<a class="defer" href="/design/">
			<p>We provide a wide range of design and modelling services including aircraft conceptual design, structural analysis, and Multidisciplinary Design Optimization (MDO).</p>
			<span class="link">[see more]</span>
		</a>
	</details>
	<details>
		<summary>Build</summary>
		<img src="/images/carousel/build.jpg" />
		<a class="defer" href="/build/">
			<p>We have broad capabilities for prototyping and manufacturing custom-made and small-scale airframe composite structures for the Unmanned Aerial Vehicle (UAV) industry.</p>
			<span class="link">[see more]</span>
		</a>
	</details>
	<details>
		<summary>Test</summary>
		<img src="/images/carousel/test.jpg" />
		<a class="defer" href="/test/">
			<p>We have extensive capabilities for testing and validating aerospace systems including high performance computing, wind tunnel facilities, and ground vibration testing.</p>
			<span class="link">[see more]</span>
		</a>
	</details>
	<details>
		<summary>Fly</summary>
		<img src="/images/carousel/fly.jpg" />
		<a class="defer" href="/fly/">
			<p>We have extensive experience operating unmanned systems for a range of customer needs including surveillance, remote sensing, and aircraft design validation.</p>
			<span class="link">[see more]</span>
		</a>
	</details>
</section>
<script src="/accordion-carousel.js"></script>

<div class="columns">
	<section class="news">
		<h2>Recent News</h2>
		<ul>
		{% include news.html data=site.data.news.news %}
		</ul>
		{% if site.data.news.archive %}
			<a class="more" href="oldnews/">Older items…</a>
		{% endif %}
	</section>
	<section class="news">
		<h2>Upcoming Events</h2>
		<ul>
		{% include news.html data=site.data.news.upcoming %}
		</ul>
	</section>
</div>
