{% for item in include.menu %}{%
	assign link = site.pages | where: "path", item.page %}{%
	assign link = link[0] %}{%
	capture nexti %}{{include.indent}}		{% endcapture %}{%
	if (page.path == item.page) %}{%
		assign isCurrent = true %}{%
	else %}{%
		assign isCurrent = false %}{%
		for m in item.match %}{%
			assign len = m | size %}{%
			assign pathStart = page.path | slice: 0, len %}{%
			if m == pathStart %}{%
				assign isCurrent = true %}{%
			endif %}{%
		endfor %}{%
	endif
%}{% unless forloop.first %}
{{include.indent}}{% endunless %}<li{% if isCurrent %} class="current"{% endif %}>
{{include.indent}}	<a{% unless isCurrent %} href="{{link.url}}"{% endunless %}>{{item.label}}</a>{%
	if item.submenu	%}
{{include.indent}}	<ul>
{{include.indent}}		{% include menu_items.html menu=item.submenu indent=nexti %}
{{include.indent}}	</ul>{%
	endif
%}
{{include.indent}}</li>{% endfor %}{% unless forloop.last %}
{% endunless %}