a {
	text-decoration: none;
	color: $link;

	&:hover {
		text-decoration: underline;
		color: $linkHighlight;
	}
}

// "defer" link styling to an inner .link element while still remaining clickable
.defer {
	color: $defaultText;

	&:hover {
		text-decoration: none;
		color: $defaultText;
	}

	.link {
		color: $link;
	}

	&:hover .link {
		text-decoration: underline;
		color: $linkHighlight;
	}
}
