html {
	background:
		#1e2731
		url(/images/page_bg.png)
		0 0
		repeat-x;
	padding: 0;
	font-family: Helvetica, sans-serif;
	color: $defaultText;
	font-size: 16px;
	line-height: $rootLineHeight;
}

body {
	max-width: 960px;
	margin: 0 auto;
	padding: $pad;
	background-color: white;
}
